.home-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $off-white;
}

.home-content__text-block {
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
}

.home-content__text-block__title__wrapper{
    display: flex;
    justify-content: center;
}

.home-content__text-block__body {
    font-size: 1.6rem;
}

.home-content__image-mobile {
    padding-top: 5vh;
    width: 50vw;
    align-self: center;
}

.home-content__image-wrapper {
    display: none;
}

////////////////////////////////////

@media (min-width: 1920px) {
    .home-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: white;
        
    }
    
    .home-content__text-block {
        width: 35vw;
    }
    
    .home-content__text-block__title__wrapper {
        display: flex;
        justify-content: flex-start;
    }
    
    .home-content__text-block__title-highlight {
        padding-left: $xs-size;
        color: $yellow;
    }
    
    .home-content__text-block__body {
        font-size: 2rem;
        line-height: $l-size;
    }
    
    //Image Styling
    .home-content__image-wrapper {
        display: flex;
        position: relative;
        text-align: center;
        width: fit-content;
    }
    
    .home-content__image {
        height: 50vh;
        justify-self: right;
    }

    .home-content__image-mobile {
        display: none;
    }
    
    .carousel__wrapper-skills {
        position: absolute;
        top: 56%;
        left: 37.75%;
        padding: 0;
        width: 25%;
    } 
}