


@media (min-width: 1920px) {

    .cv-section {
        width: 100%;
        height: fit-content;
        flex-direction: column;
    }
    
    .cv__title__wrapper {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding-bottom: $l-size;
    }
    
    .cv__title-highlight {
        padding-left: $xs-size;
        color: $yellow;
    }
    
    .cv-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .cv-open {
        z-index: 2;
    }

}